<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello User</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='js/home.js') }}"/>
    {{ dropzone.load() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
</head>
<body>
    {% block header%} {% endblock %}
    
    {% block form %}
    {% endblock  %}
</body>

<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
if(document.getElementById('button').clicked == true)
{
   alert("button was clicked");
}
</script>
</html>